* {
    box-sizing: border-box
  }
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }


body {
    background-color: rgba(113, 201, 117, 1);
    /* Use a system font, if none are available use an available sans-sarif font */
    font-family: "Poppins", sans-serif;
    /* Ensures full height compatibility across devices */
    min-height: 100dvh;
    margin: 0;
  }  

.startMenu  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuRow {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.btn {
    border: 1px solid;
    border-radius: 50px;
    font-size: 36px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 158, 101, 1);
    color: white;
}
.btn:hover {
    background-color: rgba(235, 87, 87, 0.8);
    color: white;
}
.btn:active {
    background-color:rgba(235, 87, 87, 1);
    color: white;
}
.menuFooter {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
}

.hideDiv {
    display: none;
}